<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The services we provide</title>
</head>
<body>
        <div class="container" style="text-align: center">
            {% include 'navbar.html' %}
            <h1>this our service page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor nisi odio ad vitae ex dolorem, iste reprehenderit omnis consectetur natus. Cupiditate blanditiis consequatur alias ut quasi minus ducimus facilis pariatur facere ullam autem magnam repellendus, qui possimus quo? Praesentium dolores veniam nobis labore adipisci ad quasi cupiditate nisi quam provident.</p>
            <button>contact us</button>
        </div>    
</body>
</html>